/*General*/
.woo-outfit-mb {
	padding: 10px 0;
}

.woo-outfit-mb .hidden {
	display: none;
}

.woo-outfit-mb .row:before,
.woo-outfit-mb .row:after {
	display: table;
	content: " ";
	clear: both;
}

.woo-outfit-mb .has-col {
	margin-left: -10px;
	margin-right: -10px;
}

.woo-outfit-mb .col {
	position: relative;
	float: left;
	display: inline-block;
	width: 25%;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.woo-outfit-mb img {
	max-width: 100%;
	height: auto;
}

.woo-outfit-mb a {
	text-decoration: none;
}

.woo-outfit-mb a:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*Select*/
.woo-outfit-mb .select-cat-wrap {
	margin: 30px 0 20px;
}

.select2-container {
	min-width: 150px;
}

.select2-container--default .select2-selection--single {
	border-radius: 0;
	outline: none;
	height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 35px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 34px;
}

/*Selected Products*/
.woo-outfit-mb .selected-products {
	background-color: #fafafa;
	border: 1px dashed #eee;
	padding: 15px 15px 0;
}

.woo-outfit-mb .selected-products.empty:after {
	content: 'No Product Selected';
	display: block;
	font-size: 18px;
	line-height: 225px;
	text-align: center;
	color: #aaa;
}

.woo-outfit-mb .selected-products .item {
	position: relative;
	background-color: #fff;
	border: 1px solid #eee;
	padding: 12px;
}

.woo-outfit-mb .selected-products .close {
	display: inline-block;
	position: absolute;
	top: 12px;
	right: 12px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	text-align: center;
	line-height: 20px;
	background-color: #111;
}

.woo-outfit-mb .selected-products .close:after {
	content: '\2718';
	color: #fff;
}

/*Switch*/
.woo-outfit-mb .selected-products .switch {
	width: 100%;
	height: 35px;
	position: relative;
	display: block;
	clear: both;
	margin-top: 5px;
}

.woo-outfit-mb .selected-products .switch.active {
	background-color: #111;
	color: #fff;
}

.woo-outfit-mb .selected-products .switch.inactive {
	background-color: #111;
	color: #fff;
}

.woo-outfit-mb .selected-products .switch.active:before {
	content: 'Captured';
}

.woo-outfit-mb .selected-products .switch.inactive:before {
	content: 'Similar';
}

.woo-outfit-mb .selected-products .switch.active:before,
.woo-outfit-mb .selected-products .switch.inactive:before {
	display: block;
	font-size: 14px;
	line-height: 35px;
	text-align: center;
}

/*Product List*/
.woo-outfit-mb .product-list .item {
	border: 1px solid #eee;
	padding: 12px;
	text-align: center;
}

.woo-outfit-mb .product-list .item .product-title {
	font-size: 14px;
	font-weight: 400;
	color: #555;
	margin: 12px 0 10px;
	padding: 0;
}

.woo-outfit-mb .product-list .item .price {
	font-size: 14px;
	font-weight: 700;
	color: #111;
	margin: 0 0 10px;
}

.woo-outfit-mb .product-list .item .price del {
	font-weight: 400;
	color: #aaa;
	margin-right: 3px;
}

.woo-outfit-mb .product-list .item .price ins {
	text-decoration: none;
}

.woo-outfit-mb .product-list .item .button {
	display: block;
	font-size: 14px;
	line-height: 35px;
	color: #fff;
	background-color: #111;
	border: none;
	border-radius: 0;
	height: 35px;
}

/*product-nav*/
.woo-outfit-mb .product-nav {
	text-align: center;
}

.woo-outfit-mb .product-nav a {
	font-size: 14px;
	color: #555;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
	border: 1px solid #eee;
}

.woo-outfit-mb .product-nav a:hover {
	color: #111;
}

.woo-outfit-mb .product-nav a.disabled {
	color: #aaa;
	cursor: not-allowed;
	pointer-events: none;
}
