/*General*/
.hidden {
	display: none;
}

.wc-outfit-mb {
	/*padding: 10px 0;*/
}

.wc-outfit-mb .row {
	margin-left: -10px;
	margin-right: -10px;
}

.wc-outfit-mb .row:before,
.wc-outfit-mb .row:after {
	display: table;
	content: " ";
}

.wc-outfit-mb .col-1 {
	position: relative;
	width: 100%;
	display: inline-block;
	padding: 0 10px;
	box-sizing: border-box;
}

.wc-outfit-mb .col-4 {
	position: relative;
	width: 25%;
	display: inline-block;
	padding: 0 5px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.wc-outfit-mb img {
	max-width: 100%;
	height: auto;
}

/*Select*/
.wc-outfit-mb .selectId {
	margin: 20px 0;
}

.wc-outfit-mb .selected-products {
	background-color: #f7f7f7;
	border: 2px dashed #ededed;
	padding: 10px 10px 0;
}

/*Selected Products*/
.wc-outfit-mb .selected-products.empty:after {
	content: 'No Product Selected';
	display: block;
	font-size: 18px;
	line-height: 155px;
	text-align: center;
	color: #aaa;
}

.wc-outfit-mb .selected-products .close {
	display: inline-block;
	position: absolute;
	top: 8px;
	right: 18px;
	width: 16px;
	height: 16px;
	background: url(../img/close.png);
	cursor: pointer;
}

/*Switch*/
.switch {
	width: 100%;
	height: 30px;
	position: relative;
	clear: both;
	display: block;
	cursor: pointer;
}

.switch.active {
	background-color: #2196F3;
	color: #fff;
}

.switch.inactive {
	background-color: #CCCCCC;
	color: #999;
}

.switch.active:before,
.switch.inactive:before {
	display: block;
	line-height: 30px;
	text-align: center;
}

.switch.active:before {
	content: 'Captured';
}

.switch.inactive:before {
	content: 'Similar';
}
