/*Form*/
#new-outfit-form a {
	text-decoration: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#new-outfit-form .form-group {
	margin-bottom: 25px;
}

#new-outfit-form #upload-button {
	float: left;
	background-color: #111;
	border-radius: 0;
	height: 40px;
	font-weight: 400;
	line-height: 40px;
	color: #fff;
	padding: 0 30px;
}

#new-outfit-form #placeholder {
	float: left;
	display: inline-block;
	border: 1px solid #eee;
	border-radius: 0;
	width: auto;
	height: 40px;
}

/*error*/
#new-outfit-form label.error {
	display: block;
	clear: both;
	font-size: 80%;
	color: #dd102d;
}

/*Select*/
#new-outfit-form .select-cat-wrap {
	margin: 20px 0;
}

.select2-container {
	min-width: 180px;
}

.select2-container--default .select2-selection--single {
	border-radius: 0;
	outline: none;
	height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 40px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 38px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-radius: 0;
	border: 1px solid #aaa;
}

.select2-container--default .select2-selection--multiple {
	border-radius: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #111;
	border-color: #111;
	border-radius: 0;
	color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
	color: #fff;
}

/*popover*/
#new-outfit-form .popover ul,
#new-outfit-form .popover ol {
	margin: 0 0 15px 15px;
}

/*help block*/
#new-outfit-form .woo-outfit-icon {
	position: absolute;
	right: 15px;
	top: 5px;
	font-size: 20px;
	color: #111;
	cursor: help;
}

/*Selected Products*/
#new-outfit-form .selected-products {
	background-color: #fafafa;
	border: 1px dashed #eee;
	padding: 15px 15px 0;
}

#new-outfit-form .selected-products.empty:after {
	content: 'No Product Selected';
	display: block;
	font-size: 18px;
	line-height: 220px;
	text-align: center;
	color: #aaa;
}

#new-outfit-form .selected-products .item {
	position: relative;
	background-color: #fff;
	border: 1px solid #eee;
	padding: 12px;
	margin-bottom: 15px;
}

#new-outfit-form .selected-products .close {
	display: inline-block;
	position: absolute;
	top: 12px;
	right: 12px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	text-align: center;
	line-height: 20px;
	background-color: #111;
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
}

#new-outfit-form .selected-products .close:after {
	content: '\2718';
	color: #fff;
}

/*Switch*/
#new-outfit-form .selected-products .switch {
	width: 100%;
	height: 40px;
	position: relative;
	display: block;
	clear: both;
	margin-top: 5px;
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
}

#new-outfit-form .selected-products .switch.active {
	background-color: #111;
	color: #fff;
}

#new-outfit-form .selected-products .switch.inactive {
	background-color: #111;
	color: #fff;
}

#new-outfit-form .selected-products .switch.active:before {
	content: 'Captured';
}

#new-outfit-form .selected-products .switch.inactive:before {
	content: 'Similar';
}

#new-outfit-form .selected-products .switch.active:before,
#new-outfit-form .selected-products .switch.inactive:before {
	display: block;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
}

/*Product List*/
#new-outfit-form .product-list .item {
	text-align: center;
	background-color: #fff;
	border: 1px solid #eee;
	padding: 12px;
	margin-bottom: 20px;
}

#new-outfit-form .product-list .item .product-title {
	font-size: 14px;
	font-weight: 400;
	color: #555;
	margin: 12px 0 10px;
	padding: 0;
}

#new-outfit-form .product-list .item .price {
	font-size: 14px;
	font-weight: 700;
	color: #111;
	margin: 0 0 10px;
}

#new-outfit-form .product-list .item .price del {
	font-weight: 400;
	color: #aaa;
	margin-right: 3px;
}

#new-outfit-form .product-list .item .price ins {
	font-weight: 700;
	text-decoration: none;
}

#new-outfit-form .product-list .item .button {
	font-size: 14px;
	line-height: 40px;
	color: #fff;
	background-color: #111;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	display: block;
	height: 40px;
	width: 100%;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

/*product-nav*/
#new-outfit-form .product-nav {
	text-align: center;
	border: 0;
	padding: 0;
	margin: 0;
}

#new-outfit-form .product-nav a {
	font-size: 14px;
	color: #555;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
	border: 1px solid #eee;
}

#new-outfit-form .product-nav a:hover {
	color: #111;
}

#new-outfit-form .product-nav a.disabled {
	color: #aaa;
	cursor: not-allowed;
	pointer-events: none;
}
