/*single listing carousel*/
.woo-outfit-single-carousel {
	margin: 30px 0 35px;
}

.woo-outfit-single-carousel a {
	text-decoration: none;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.woo-outfit-single-carousel .woo-outfit-gallery-item {
	margin-bottom: 30px;
	overflow: hidden;
}

.woo-outfit-single-carousel .woo-outfit-gallery-item .woo-outfit-gallery-item-inner-wrap {
	padding: 12px;
	border: 1px solid #eee;
	background-color: #fff;
}

.woo-outfit-single-carousel .woo-outfit-gallery-item .woo-outfit-gallery-item-thumb {
	max-width: 100%;
	height: auto;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

.woo-outfit-single-carousel .woo-outfit-gallery-item .woo-outfit-gallery-item-footer {
	position: relative;
	padding: 15px 0 0;
}

.woo-outfit-single-carousel .woo-outfit-gallery-item .woo-outfit-gallery-item-footer .woo-outfit-meta-author {
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: #111;
	display: block;
	clear: both;
	margin: 0 0 10px;
}

.woo-outfit-single-carousel .woo-outfit-gallery-item .woo-outfit-gallery-item-footer .woo-outfit-meta-author:hover {
	color: #555;
}

.woo-outfit-single-carousel .woo-outfit-gallery-item .woo-outfit-gallery-item-footer .woo-outfit-meta-time {
	font-size: 12px;
	line-height: 1;
	color: #aaa;
	margin: 0;
}

/*owl carousel*/
.woo-outfit-single-carousel .owl-nav {
	margin-top: 15px;
	text-align: center;
}

.woo-outfit-single-carousel .owl-carousel .owl-nav .owl-prev:before,
.woo-outfit-single-carousel .owl-carousel .owl-nav .owl-next:before {
	color: #fff;
	font-size: 25px;
}

.woo-outfit-single-carousel .owl-carousel .owl-nav .owl-prev,
.woo-outfit-single-carousel .owl-carousel .owl-nav .owl-next {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: #fff;
	border: 1px solid #eee;
	margin: 0 2px;
}
