.single-product-carousel .grid-item {
	margin-bottom: 30px;
	overflow: hidden;
}

.single-product-carousel .grid-item .gal-item-inner-wrap {
	padding: 12px;
	border: 1px solid #eee;
	background-color: #fff;
}

.single-product-carousel .grid-item .gal-item-thumb {
	max-width: 100%;
	height: auto;
	cursor: zoom-in;
}

/*footer*/
.single-product-carousel .grid-item .gal-item-footer {
	position: relative;
	padding: 15px 0 0;
}

.single-product-carousel .grid-item .gal-item-footer .author {
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: #111;
	display: block;
	clear: both;
	margin: 0 0 10px;
}

.single-product-carousel .grid-item .gal-item-footer .author:hover {
	color: #555;
}

.single-product-carousel .grid-item .gal-item-footer .time {
	font-size: 12px;
	line-height: 1;
	color: #aaa;
	margin: 0;
}