/********************************************************
 *
 * Style Gallery
 *
 *******************************************************/
.wc-outfit-gallery a {
	text-decoration: none;
}

.wc-outfit-gallery a:hover,
.wc-outfit-gallery a:focus {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.wc-outfit-gallery .wc-outfit-gallery-header {
	margin-bottom: 35px;
}

/*header - title*/
.wc-outfit-gallery .wc-outfit-gallery-header .wc-outfit-gallery-header-title {
	font-size: 32px;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	color: #111;
	margin-top: 15px;
	margin-bottom: 20px;
}

.wc-outfit-gallery .wc-outfit-gallery-header .wc-outfit-gallery-header-subtitle {
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	letter-spacing: 1px;
	color: #555;
	margin-top: 15px;
	margin-bottom: 20px;
}

.wc-outfit-gallery .wc-outfit-gallery-header .wc-outfit-gallery-header-subtitle .wc-outfit-follow-btn {
	font-size: 12px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
	background-color: #000;
	display: inline-block;
	padding: 4px 10px;
	margin-left: 10px;
}

/*header - button*/
.wc-outfit-gallery .wc-outfit-gallery-header .wc-outfit-gallery-header-btn-group {
	text-align: center;
}

.wc-outfit-gallery .wc-outfit-gallery-header .wc-outfit-gallery-header-btn-group a {
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #999;
	display: inline-block;
	padding: 8px 12px;
	border: 1px solid #eee;
	margin: 0 1px;
}

.wc-outfit-gallery .wc-outfit-gallery-header .wc-outfit-gallery-header-btn-group a:hover,
.wc-outfit-gallery .wc-outfit-gallery-header .wc-outfit-gallery-header-btn-group a.active {
	background-color: #eee;
}

/*Grid Item*/
.wc-outfit-gallery .wc-outfit-gallery-item {
	margin-bottom: 30px;
	overflow: hidden;
}

.wc-outfit-gallery .wc-outfit-gallery-item .item-inner-wrap {
	padding: 12px;
	border: 1px solid #eee;
	background-color: #fff;
}

.wc-outfit-gallery .wc-outfit-gallery-item .item-thumb {
	max-width: 100%;
	height: auto;
	cursor: zoom-in;
}

/*footer*/
.wc-outfit-gallery .wc-outfit-gallery-item .item-footer {
	position: relative;
	padding: 15px 0 0;
}

.wc-outfit-gallery .wc-outfit-gallery-item .item-footer .author {
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: #111;
	display: block;
	clear: both;
	margin: 0 0 10px;
}

.wc-outfit-gallery .wc-outfit-gallery-item .item-footer .author:hover {
	color: #555;
}

.wc-outfit-gallery .wc-outfit-gallery-item .item-footer .time {
	font-size: 12px;
	line-height: 1;
	color: #aaa;
	margin: 0;
}

/*Pagination*/
.wc-outfit-gallery .wc-outfit-gallery-pagination {
	display: block;
	clear: both;
	text-align: center;
	margin: 40px 0;
}

.wc-outfit-gallery .wc-outfit-gallery-pagination .loading {
}

/*No Content Found*/
.wc-outfit-no-content-found p {
	font-size: 16px;
	text-align: center;
	margin: 15px 0;
}
