/********************************************************
 *
 * Style Gallery
 *
 *******************************************************/
.wc-outfit-gallery .wc-outfit-gallery-header {
	margin-bottom: 35px;
}

/*header - title*/
.wc-outfit-gallery .wc-outfit-gallery-header .wc-outfit-gallery-header-title {
	font-size: 32px;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	color: #111;
	margin-top: 15px;
	margin-bottom: 20px;
}

.wc-outfit-gallery .wc-outfit-gallery-header .wc-outfit-gallery-header-subtitle {
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	letter-spacing: 1px;
	color: #555;
	margin-top: 15px;
	margin-bottom: 20px;
}

.wc-outfit-gallery .wc-outfit-gallery-header  .wc-outfit-gallery-header-subtitle .medal {
	
}

/*header - button*/
.wc-outfit-gallery .wc-outfit-gallery-header .wc-outfit-gallery-header-btn-group {
	text-align: center;
}

.wc-outfit-gallery .wc-outfit-gallery-header .wc-outfit-gallery-header-btn-group a {
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #999;
	display: inline-block;
	padding: 8px 12px;
	border: 1px solid #eee;
	margin: 0 1px;
	/*-webkit-transition: background .3s ease;
	-moz-transition: background .3s ease;
	-o-transition: background .3s ease;
	-ms-transition: background .3s ease;
	transition: background .3s ease;*/
}

.wc-outfit-gallery .wc-outfit-gallery-header .wc-outfit-gallery-header-btn-group a:hover,
.wc-outfit-gallery .wc-outfit-gallery-header .wc-outfit-gallery-header-btn-group a.active {
	background-color: #eee;
}

/*Grid Item*/
.wc-outfit-gallery .grid-item {
	margin-bottom: 30px;
	overflow: hidden;
}

.wc-outfit-gallery .grid-item .gal-item-inner-wrap {
	padding: 12px;
	border: 1px solid #eee;
	background-color: #fff;
}

.wc-outfit-gallery .grid-item .gal-item-thumb {
	max-width: 100%;
	height: auto;
	cursor: zoom-in;
}

/*footer*/
.wc-outfit-gallery .grid-item .gal-item-footer {
	position: relative;
	padding: 15px 0 0;
}

.wc-outfit-gallery .grid-item .gal-item-footer .author {
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: #111;
	display: block;
	clear: both;
	margin: 0 0 10px;
}

.wc-outfit-gallery .grid-item .gal-item-footer .author:hover {
	color: #555;
}

.wc-outfit-gallery .grid-item .gal-item-footer .time {
	font-size: 12px;
	line-height: 1;
	color: #aaa;
	margin: 0;
}

/*Load More Button*/
.wc-outfit-gallery .more {
	display: block;
	clear: both;
	text-align: center;
	margin: 40px 0;
}

.wc-outfit-gallery .more .loading,
.wc-outfit-gallery .btn-more.loading {
	background-image: url(img/facebook.gif);
	background-repeat: no-repeat;
	background-position: 50%;
	color: transparent;
}

/*Not Following Anyone*/
.not-following p {
	font-size: 16px;
	text-align: center;
	margin: 15px 0;
}

.not-following .item {
	text-align: center;
	padding: 12px;
	border: 1px solid #ededed;
	margin-bottom: 60px;
}

.not-following img {
	margin-bottom: 10px;
}

.not-following .button {
	font-size: 11px;
	line-height: 24px;
	padding: 0 15px;
	margin-top: 10px;
}
